<div class="dashboard-header">
  <nav class="navbar navbar-expand-lg bg-white fixed-top"> <a class="navbar-brand" href="#"><img src="assets/image/logoblanc.png" height="40" alt=""></a> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
      <span class="navbar-toggler-icon"></span>
   </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto navbar-right-top">
              <li class="nav-item  nav-user"> 
              <button class="btne"  type="submit" ><i style="color:white;" class="fal fa-power-off" (click)="logout()"></i> Deconnexion</button>    
              </li>
              
          </ul>
      </div>
  </nav>
</div>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Commandes</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link " id="pills-valide-tab" data-bs-toggle="pill" data-bs-target="#pills-valide" type="button" role="tab" aria-controls="pills-valide" aria-selected="true">Commandes Acceptees</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Commandes Livrées </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Commandes annulées</button>
  </li>
 <!-- <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-partner" type="button" role="tab" aria-controls="pills-partner" aria-selected="false">Commandes Partenaire</button>
  </li>-->
</ul>
<div class="tab-content" id="pills-tabContent">
  <!-- Commandes  -->
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
  
      <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="recherche de commande" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">recherche</button>
        </form>
        <br>
      <table class="table table-bordered table-inverse table-responsive">
          <thead class="thead-center">
              <tr>
                  <th class="th">N`commande</th>
                  <th class="th">Produit</th>
                  <th class="th">Info</th>
                  <th class="th">Quantite</th>
                  <th class="th">Montant</th>
                  <th class="th">Nom Clients</th>
                  <th class="th">E-mail</th>
                  <th class="th">Numero </th>
                  <th class="th">lieu de livraison</th>
                  <th class="th">Mode de payement</th>
                  <th class="th">Date</th>
                  <th class="th">Action</th>
              </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of orders">
                      <td ># {{item.ord_id}}</td>
                      <td style="display: flex;" >
                       <img [src]="item.description.face1" height="200" alt="">
                       <img [src]="item.description.face2" height="200" alt=""> 
                      </td>
                      <td>
                        <p style="font-weight: bold;">type: <strong style="font-weight: bold;">{{item.description.type}}</strong></p>
                        <p>Nom: <strong style="font-weight: bold;"> {{item.description.name}}</strong></p>
                        <p>Type d'impression: <strong style="font-weight: bold;">  {{item.description.shape}}</strong></p>
                        <div>  
                          <label for="">Taille:</label>
                        <p><strong style="font-weight: bold;" *ngIf='item.description.size.l'> L</strong></p>
                        <p><strong style="font-weight: bold;" *ngIf='item.description.size.m'> M</strong></p>
                        <p><strong style="font-weight: bold;" *ngIf='item.description.size.xl'>XL</strong></p>
                        <p><strong style="font-weight: bold;" *ngIf='item.description.size.l'> XXL</strong></p>
                        </div>
                      </td>
                      <td>{{item.description.qty}}</td>
                      <td>{{item.description.t}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.phone}}</td>
                      <td>{{item.city}} {{item.d_place}} </td>
                      <td>{{item.dmode}}</td>
                      <td>{{item.created_at}}</td>
                      <td>
                      <button class="btn btn-success" type="submit " [id]="item.ord_id" (click)="updateStatus($event)"> valider</button>
                      <button style="margin-top: 4px;" class="btn btn-danger" type="submit" [id]="item.ord_id" (click)="updatecancel($event)"> annuler</button>

                      </td>
                      
                  </tr>
                 
              </tbody>
      </table>
  <!--metode 2
  <div class="container-fluid">
    <table class="table table-bordered ">
       
        <tbody>
           
            <td class="com">
            <p> n*commande</p>
            <strong>#25475858</strong> 
            </td>
            <table class="table table-bordered table-responsive produit">
            <thead>
                <th class="th">Produit</th>
                <th class="th">Info</th>
                <th class="th">Quantite</th>
                <th class="th">Montant</th>
                <th class="th">Nom Clients</th>
                <th class="th">E-mail</th>
                <th class="th">Numero </th>
                <th class="th">Lieu de livraison</th>
                <th class="th">Mode de payement</th>
                <th class="th">Date</th>
                <th class="th">Statut</th>
            </thead>
            <tbody>
                <tr>
                    <td>kkkk</td>
                    <td>kkkk</td>
                    <td>kkkk</td>
                    <td>kkkk</td>
                    <td>kkkk</td>
                    <td>kkkk</td>
                    <td>kkkk</td>
                    <td>kkkk</td>
                    <td>kkkk</td>
                    <td>kkkk</td>
                    <td style="display: block;">
                        <button class="btn btn-success" type="submit " > valider</button>
                        <button style="margin-top: 4px;" class="btn btn-danger" type="submit"> annuler</button>
    
                    </td>
                    
                </tr>
            </tbody>
        </table>
    
        <tr>
            <td class="bass" colspan="10">
                montant total <strong style="float: right;">1500000 fcfa</strong>
            </td>
        </tr>
        
        </tbody>
      </table>
    </div>-->
  </div>
 <!--fin commande-->

 <!--Commandes accepter-->
 <div class="tab-pane fade" id="pills-valide" role="tabpanel" aria-labelledby="pills-valide-tab">
  
  <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="recherche de commande" aria-label="Search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">recherche</button>
    </form>
    <br>
  <table class="table table-bordered table-inverse table-responsive">
      <thead class="thead-center">
          <tr>
              <th class="th">N`commande</th>
              <th class="th">Produit</th>
              <th class="th">Info</th>
              <th class="th">Quantite</th>
              <th class="th">Montant</th>
              <th class="th">Nom Clients</th>
              <th class="th">E-mail</th>
              <th class="th">Numero </th>
              <th class="th">lieu de livraison</th>
              <th class="th">Mode de payement</th>
              <th class="th">Date</th>
              <th class="th">Statut</th>
              <th class="th">Action</th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor= "let item of pendingorders">
                  <td># {{item.ord_id}}</td>
                  <td style="display: flex;">
                    <img [src]="item.description.face1" height="200" alt="">
                    <img [src]="item.description.face2" height="200" alt="">
                  </td>
                  <td>
                    <p>type: <strong>{{item.description.type}}</strong></p>
                    <p>Nom: <strong> {{item.description.name}}</strong></p>
                    <p>Type d'impression: <strong>  {{item.description.shape}}</strong></p>
                       
                       
                  </td>
                  <td>{{item.description.qty}}</td>
                  <td>{{item.description.t}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phone}}</td>
                  <td>{{item.city}} {{item.d_place}}</td>
                  <td>{{item.dmode}}</td>
                  <td>{{item.created_at}}</td>
                  <td>
                    <i style="color: #fab91a;" class="fal fa-spinner fa-2x fa-spin"></i>
                  </td>
                  <td>
                  <button class="btn btn-success" type="submit" [id]="item.ord_id" (click)="updateok($event)">Terminer</button>
                  </td>
                  
              </tr>
             
          </tbody>
  </table>

</div>
 <!--fin-->
 <!--Commande Livre-->
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="recherche de commande" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">recherche</button>
        </form>
        <br>
      <table class="table table-bordered table-inverse table-responsive">
          <thead class="thead-center">
              <tr >
                  <th class="th">N`commande</th>
                  <th class="th">Produit</th>
                  <th class="th">Info</th>
                  <th class="th">Quantite</th>
                  <th class="th">Montant</th>
                  <th class="th">Nom Clients</th>
                  <th class="th">E-mail</th>
                  <th class="th">Numero </th>
                  <th class="th">Lieu de livraison</th>
                  <th class="th">Mode de payement</th>
                  <th class="th">Date</th>
                  <th class="th">Statut</th>
              </tr>
              </thead>
              <tbody>
                  <tr *ngFor='let item of okorders'>
                      <td># {{item.ord_id}}</td>
                      <td style="display: flex;">
                        <img [src]="item.description.face1" height="200" alt="">
                        <img [src]="item.description.face2" height="200" alt="">
                       
                      </td>
                      <td >
                        <p>type: <strong>{{item.description.type}}</strong></p>
                        <p>Nom: <strong> {{item.description.name}}</strong></p>
                        <p>Type d'impression: <strong>  {{item.description.shape}}</strong></p>
                           
                           
                      </td>
                      <td>{{item.description.qty}}</td>
                  <td>{{item.description.t}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phone}}</td>
                  <td>{{item.city}} {{item.d_place}}</td>
                  <td>{{item.dmode}}</td>
                  <td>{{item.created_at}}</td>
                      <td><i style="color:green" class="fa fa-check-circle fa-2x" aria-hidden="true"></i></td>
                      
                  </tr>
                 
              </tbody>
      </table>
  </div>
  <!--fin commande livree-->
  <!--commandes annulees-->
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="recherche de commande" aria-label="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">recherche</button>
        </form>
        <br>
      <table class="table table-bordered table-inverse table-responsive">
          <thead class="thead-center">
              <tr>
                  <th class="th">N`commande</th>
                  <th class="th">Produit</th>
                  <th class="th">Info</th>
                  <th class="th">Quantite</th>
                  <th class="th">Montant</th>
                  <th class="th">Nom Clients</th>
                  <th class="th">E-mail</th>
                  <th class="th">Numero </th>
                  <th class="th">Lieu de livraison</th>
                  <th class="th">Mode de payement</th>
                  <th class="th">Date</th>
                  <th class="th">Statut</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cancelorders">
                  <td ># {{item.ord_id}}</td>
                  <td style="display: flex;">
                  
                   <img [src]="item.description.face1" height="200" alt="">
                   <img [src]="item.description.face2" height="200" alt="">
                 
                  </td>
                  <td>
                    <p>type: <strong>{{item.description.type}}</strong></p>
                    <p>Nom: <strong> {{item.description.name}}</strong></p>
                    <p>Type d'impression: <strong>  {{item.description.shape}}</strong></p>
                       
                       
                  </td>
                  <td>{{item.description.qty}}</td>
                  <td>{{item.description.t}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.phone}}</td>
                  <td>{{item.city}} {{item.d_place}} </td>
                  <td>{{item.dmode}}</td>
                  <td>{{item.created_at}}</td>
                  <td>
                  <i style="color: red;" class="fal fa-ban fa-2x"></i>
                </td>
                      
                  </tr>
                 
              </tbody>
      </table>
  </div>
  <!--fin commandes annulees-->
  <!--Commande partner-->
<!--  <div class="tab-pane fade" id="pills-partner" role="tabpanel" aria-labelledby="pills-partner-tab">
    <section class=" header-text">
      <div class="container">
       </div>
        <div class="wrap">
          <h1 class="heading-inline">Gestion des commandes</h1>
          <hr class="header-end">
          <ul class='subsubsub'>
            <li class='all'><a href="#" class="current" aria-current="page">Tous <span class="count">(10)</span></a> |</li>
            <li class='publish'><a href="#">En attente <span class="count">(10)</span></a> |</li>
            <li class='encours'><a href="#">En cours <span class="count">(10)</span></a> |</li>
            <li class='finish'><a href="#">Terminées <span class="count">(10)</span></a> |</li>
            <li class='ferme'><a href="#">Annulées <span class="count">(10)</span></a></li>
          </ul>
          <form id="posts-filter" method="get">

            <p class="search-box">
              <label class="screen-reader-text" for="post-search-input">Recherche Commande:</label>
              <input type="search" id="post-search-input" name="s" value="" />
              <input type="submit" id="search-submit" class="button" value="Recherche Commande"  />
            </p>

            <div class="tablenav top">

                <div class="alignleft actions bulkactions">
                  <label for="bulk-action-selector-top" class="screen-reader-text">Sélectionnez l’action groupée</label>
                  <select name="action" id="bulk-action-selector-top">
                    <option value="-1">Actions groupées</option>
                    <option value="edit" class="hide-if-no-js">Modifier</option>
                    <option value="trash">Mettre à la corbeille</option>
                  </select>
                  <input type="submit" id="doaction" class="button action" value="Appliquer"  />
                </div>
                <div class="alignleft actions bulkactions">
                  <select  name='date' id='product_cat' class='dropdown_date' >
                    <option value='' selected='selected'>Toutes les dates</option>
                    <option class="level-0" value="apprentissage">Aujourd'hui</option>
                    <option class="level-0" value="apprentissage">Hier</option>
                  </select>
                  <select name="customer_type" id="dropdown_customer_type">
                    <option value="">Filtrer par client enregistré</option>
                  </select>
                  <input type="submit" name="filter_action" id="post-query-submit" class="button" value="Filtrer" />
                </div>
            </div>
          </form>
       </div>
  </section>

  <section class="cart-block">
      <div class="row">
          <div class="col-12">
              <div class="table-responsive">
                  <table class="table table-striped">
                      <thead class="text-header">
                          <tr>
                              <th scope="col" id="select-all" class="checkbox" ><input type="checkbox"></th>
                              <th scope="col" class="entete">Commande</th>
                              <th scope="col" class="entete">Date</th>
                              <th scope="col" class="entete">Vendeur</th>
                              <th scope="col" class="entete">Etat</th>
                              <th scope="col" class="entete">Détails</th>

                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td scope="col checkbox"><input type="checkbox"></td>
                              <td class="text-table"># 35 SCREAM</td>
                              <td class="text-table">
                                <div>
                                  <a type="button" data-toggle="modal" data-target="#exampModal">
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                  </a>
                                  <div class="modal fade" id="exampModal" tabindex="-1" aria-labelledby="exampModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Commande N 37</h5>
                                          <a href="" class="btn  bg-success text-right">Terminée</a>
                                          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <div class="container-fluid">
                                            <div class="row">
                                              <div class="col">
                                                <p>Détails de facturation</p>
                                                <p>Nom et Prénom</p>
                                                <p>Lieu d'habitation</p>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col">
                                                <p>Email</p>
                                                <p>acheteur@acheteur.com</p>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col">
                                                <p>Téléphone</p>
                                                <p>00000000000</p>
                                              </div>
                                            </div>
                                            <div class="row">
                                              <div class="col">
                                                <p>Paiement via</p>
                                                <p>Paiement à la livraison</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary text-left" data-dismiss="modal">Close</button>
                                          <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  10 juin 2021</div>
                              </td>
                              <td class="text-aladin">ALADIN</td>
                              <td>
                                <a href="" class="btn  bg-success">Terminée</a>
                              </td>
                              <td class="text-center">
                                <span>Paul Martin. Abidjan, Yopougon Oasis</span>
                                <p class="text-detail">via Paiement à la livraison</p>
                              </td>
                          </tr>
                          <tr>
                              <td scope="col checkbox"><input type="checkbox"></td>
                              <td class="text-table"># 35 SCREAM</td>
                              <td class="text-table">
                                <div><i class="fa fa-eye" aria-hidden="true"></i> 10 juin 2021</div>
                              </td>
                              <td class="text-aladin">ALADIN</td>
                              <td>
                                <a href="" class="btn btn-sm bg-warning">En attente</a>
                              </td>
                              <td class="text-center">
                                <span>Paul Martin. Abidjan, Yopougon Oasis</span>
                                <p class="text-detail">via Paiement à la livraison</p>
                              </td>
                          </tr>
                          <tr>
                              <td scope="col checkbox"><input type="checkbox"></td>
                              <td class="text-table"># 35 SCREAM</td>
                              <td class="text-table">
                                <div><i class="fa fa-eye" aria-hidden="true"></i> 10 juin 2021</div>
                              </td>
                              <td class="text-aladin">ALADIN</td>
                              <td>
                                <a href="" class="btn cours">En cours</a>
                              </td>
                              <td class="text-center">
                                <span>Paul Martin. Abidjan, Yopougon Oasis</span>
                                <p class="text-detail">via Paiement à la livraison</p>
                              </td>
                          </tr>
                          <tr>
                            <td scope="col checkbox"><input type="checkbox"></td>
                            <td class="text-table"># 35 SCREAM</td>
                            <td class="text-table">
                              <div><i class="fa fa-eye" aria-hidden="true"></i> 10 juin 2021</div>
                            </td>
                            <td class="text-aladin">ALADIN</td>
                            <td>
                              <a href="" class="btn bg-danger"> Annulée </a>
                            </td>
                            <td class="text-center">
                              <span>Paul Martin. Abidjan, Yopougon Oasis</span>
                              <p class="text-detail">via Paiement à la livraison</p>
                            </td>
                        </tr>
                      </tbody>
                      <thead class="text-header">
                        <tr>
                            <th scope="col" id="select-all" class="checkbox" ><input type="checkbox"></th>
                            <th scope="col" class="entete">Commande</th>
                            <th scope="col" class="entete">Date</th>
                            <th scope="col" class="entete">Vendeur</th>
                            <th scope="col" class="entete">Etat</th>
                            <th scope="col" class="entete">Détails</th>

                        </tr>
                    </thead>
                  </table>
                  <div class="tablenav top">

                    <div class="alignleft actions bulkactions">
                      <label for="bulk-action-selector-top" class="screen-reader-text">Sélectionnez l’action groupée</label>
                      <select name="action" id="bulk-action-selector-top">
                        <option value="-1">Actions groupées</option>
                        <option value="edit" class="hide-if-no-js">Modifier</option>
                        <option value="trash">Mettre à la corbeille</option>
                      </select>
                      <input type="submit" id="doaction" class="button action" value="Appliquer"  />
                    </div>
                </div>
              </div>
          </div>
      </div>
  </section>

  </div>-->
</div>
